<%- include('../partials/header') %>

<section>
<a href="/periods/<%= period._id %>">Return to Periods overview</a>
<h1>Edit Period Notes</h1>

<section id="notes">
  <form id="note-form" action="/periods/<%= period._id %>/notes" method="POST">
    <div>day notes:</div>
    <label>cramps:</label>
    <input type="radio" name="cramps" >0 
    <input type="radio" name="cramps" value="1">1 
    <input type="radio" name="cramps" value="2">2 
    <input type="radio" name="cramps" value="3">3  
    <input type="radio" name="cramps" value="4">4 
    <input type="radio" name="cramps" value="5">5 <br>
    
    no energy<input type="range" min="0" max="5" name="energy">high energy
    <div>mood</div>
    <% moodOptions.forEach(function(m) { %>
      <% if (moodsSelected.includes(m)) { %>
        <input type="checkbox" name="mood" value="<%= m %>" checked><%= m %>
      <% } else { %>
      <input type="checkbox" name="mood" value="<%= m %>"><%= m %>
      <% } %>
    <% }) %> <br>
    <input type="submit" value="Save Notes">
  </form>

  <div>Notes for today:</div>


    <a href="/periods/<%= period._id %>/edit">Edit Notes</a>

</section>


<%- include('../partials/footer') %>