<%- include('../partials/header') %>

<section>
<a href="/periods/<%= period._id %>">Return to Periods overview</a>
<h1>Edit Period Notes</h1>

<section id="notes">
  <form id="note-form" action="/notes/<%= note._id %>?_method=PUT" method="POST">
    <div>Notes for <%= period.periodDate.toLocaleDateString('en-US', {timeZone: 'UTC'}) %>:</div>
    <label>No energy</label><input type="range" min="0" max="5" name="energy" value="<%= note.energy %>"><label>High energy.</label><br>
    <label>No flow</label><input type="range" min="0" max="5" name="flow" value="<%= note.flow %>"><label>It's a bloodbath.</label><br>
    <label>No back pain</label><input type="range" min="0" max="5" name="backPain" value="<%= note.backPain %>"><label>Back. Pain.</label><br>
    <label>No appetite</label><input type="range" min="0" max="5" name="appetite" value="<%= note.appetite %>"><label>Yeah, I'm gonna eat everything.</label>
    <label>No cramps</label><input type="range" min="0" max="5" name="cramps" value="<%= note.cramps %>"><label>What did life feel like before this.</label><br>
    <div>Mood:</div>
    <% moodOptions.forEach(function(m) { %>
      <% if (moodsSelected.includes(m)) { %>
        <input type="checkbox" name="mood" value="<%= m %>" checked><%= m %> <br>
      <% } else { %>
        <input type="checkbox" name="mood" value="<%= m %>"><%= m %> <br>
      <% } %>
    <% }) %> <br>
    <label>Anything else to note:</label><br>
    <textarea name="comments"><%= note.comments %></textarea>
    <input type="submit" value="Save Notes">
  </form>


</section>


<%- include('../partials/footer') %>