<%- include('../partials/header') %>

<section>
<a href="/periods/<%= period._id %>">Return to Periods overview</a>
<h1>Edit Period Notes</h1>

<section id="notes">
  <form id="note-form" action="/notes/<%= note._id %>?_method=PUT" method="POST">
    <div>Notes for <%= period.periodDate.toLocaleDateString('en-US', {timeZone: 'UTC'}) %>:</div>
    <label>no flow</label><input type="range" min="0" max="5" name="flow" value="<%= note.flow %>"><label>it's a bloodbath</label><br>
    <label>no cramps</label><input type="range" min="0" max="5" name="cramps" value="<%= note.cramps %>"><label>major cramps</label><br>
    <label>no back pain</label><input type="range" min="0" max="5" name="backPain" value="<%= note.backPain %>"><label>major back pain</label><br>
    <label>no energy</label><input type="range" min="0" max="5" name="energy" value="<%= note.energy %>"><label>high energy</label><br>
    <label>no appetite</label><input type="range" min="0" max="5" name="appetite" value="<%= note.appetite %>"><label>insatiable</label>
    <div>mood</div>
    <% moodOptions.forEach(function(m) { %>
      <% if (moodsSelected.includes(m)) { %>
        <input type="checkbox" name="mood" value="<%= m %>" checked><%= m %>
      <% } else { %>
      <input type="checkbox" name="mood" value="<%= m %>"><%= m %>
      <% } %>
    <% }) %> <br>
    <label>Anything else to note:</label><br>
    <textarea name="comments"><%= note.comments %></textarea>
    <input type="submit" value="Save Notes">
  </form>


</section>


<%- include('../partials/footer') %>