<%- include('../partials/header') %>


<div id="container">
  <div id="header">
    <div id="month-display"></div>
    <div>
      <button id="back-button">Back</button>  
      <button id="next-button">Next</button>  
    </div>
  </div>

  <div id="weekdays">
    <div>S</div>
    <div>M</div>
    <div>T</div>
    <div>W</div>
    <div>T</div>
    <div>F</div>
    <div>S</div>
  </div>
  <div id="calendar"></div>
</div>

<div id="newEventModal">

</div>

<div id="modalBackDrop"></div>



<a href="/periods/new">Add Event</a>

<section class="period-table">
  <table>
    <h1>Periods</h1>
    <tr>
      <th>Phase</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
    <tbody>
      <% periods.sort((a, b) => a.periodDate - b.periodDate); %>
      <% periods.forEach(function(p) { %>
      <tr>
        <td><%= p.phase %></td>
        <td><%= p.periodDate.toLocaleDateString('en-US', {timeZone: 'UTC'}) %></td>
        <td><a href="/periods/<%= p._id %>">Show</a></td>
        <form action="/periods/<%= p._id %>?_method=DELETE" method="POST">
          <td><input type="submit" value="Delete"></td>
        </form>

      </tr>
      <% }) %>

      </tbody>
  </table>

</section>





<%- include('../partials/footer') %>