<%- include('../partials/header') %>

<a href="/periods/new">Add Event</a>

<section class="period-table">
  <table>
    <h1>Periods</h1>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
    <tbody>
      <% periods.forEach(function(p) { %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.periodDate %></td>
        <td><a href="/periods/<%= p._id %>">Show</a></td>
        <form action="/periods/<%= p._id %>?_method=DELETE" method="POST">
          <td><input type="submit" value="Delete"></td>
        </form>

      </tr>
      <% }) %>

      </tbody>
  </table>

</section>





<%- include('../partials/footer') %>